<h1>SupervillainHQ.net secret labs</h1>
<p>The secret labs of the SupervillainHQ is continously researching the pebbles and stones of the inter-tubes and applies these wicket inter-sciences into small applications and utilities that makes every day a little bit easier for supervillain programmers.</p>
<h2>Supervillains of the internets</h2>
<p>SupervillainHQ.net aims to be a secret resource of valuable and devastating code snippets.</p>