<article>
	<h2>Php Basics Cms</h2>
	<aside class="right">
		<dl>
			<dt>Repository</dt>
			<dd><a href="https://bitbucket.org/andkrup/phpbasics" target="_blank">https://bitbucket.org/andkrup/phpbasics</a></dd>
			<dt>Composer/Satis Repository</dt>
			<dd><a href="http://satis.supervillainhq.net">satis.supervillainhq.net</a></dd>
			<dt>Main site</dt>
			<dd><a href="https://phpbasics.supervillainhq.net/" target="_blank">https://phpbasics.supervillainhq.net/</a></dd>
			<dt>Issues</dt>
			<dd><a href="https://bitbucket.org/andkrup/phpbasics" target="_blank">https://bitbucket.org/andkrup/phpbasics</a></dd>
			<dt>Wiki/Documentation</dt>
			<dd><a href="phpbasics.supervillainhq.net/docs" target="_blank">phpbasics.supervillainhq.net/docs</a></dd>
			<dt>API</dt>
			<dd><a href="phpbasics.supervillainhq.net/api" target="_blank">phpbasics.supervillainhq.net/api</a></dd>
		</dl>
	</aside>
	<h4>If the vile and evil Php library just isn&#34;t enough, Supervillain Labs can stink up your neighbourhood even more with the Php Phalcon Cms extension. Combined
	with the Phalcon framework, this library will enable web Masterminds to build Content Managing Systems.</h4>
	<p>PhpBasics is a foundation framework that contains only basic building blocks, meant for other higher level frameworks</p>
	<p>There are 3 main namespaces of importance, Arkham, Core and Henchmen</p>
	<h2>Download and Installing</h2>
	<p>Use Composer to download and install as a required dependency in your project.</p>
	<h2>Contents</h2>
	<h3>Core</h3>
	<p>The Core namespace contains basic classes and interfaces, useful in any php-project.</p>
	<h3>Arkham</h3>
	<p>The Arkham namespace contains general classes and interfaces, useful in php-based web projects.</p>
	<h3>Henchmen</h3>
	<p>The Henchmen namespace contains general classes and interfaces, useful when interfacing with well-known external apis and resources.</p>
</article>
