<nav>
	<ul>
		<li>
			<p><a href="http://supervillainhq.net">Main</a></p>
			<ul>
				<li><a href="/about">about</a></li>
				<li><a href="http://andkrup.wordpress.com">andkrups blog</a></li>
			</ul>
		</li>
		<li>
			<p><a href="/labs">Labs</a></p>
			<ul>
				<li><a href="/labs/phphalconcms">PhpalconCMS</a></li>
				<li><a href="/labs/microshop">Microshop</a></li>
				<li><a href="/labs/phpbasics">PhpBasics</a></li>
				<li><a href="https://bitbucket.org/andkrup/thug">Thug</a></li>
				<li><a href="https://bitbucket.org/andkrup/phpanttasks">PhpAntTasks</a></li>
				<li><a href="/passwordhasher">PasswordHasher</a></li>
			</ul>
		</li>
		<li>
			<p><a href="/goodies">Goodies</a></p>
			<ul>
				<li><a href="http://satis.supervillainhq.net">Composer repository</a></li>
			</ul>
		</li>
	</ul>


</nav>