<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SupervillainHQ.net</title>
		<style>
			@import url('/css/reset.css');
			@import url('/css/default.css');
			@import url('/css/screen.css') screen;
		</style>
		<?php echo $this->cmsclient->styles()?>
		<?php echo $this->cmsclient->scripts('head')?>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<header>
			<?php echo $this->partial('site/menu')?>
		</header>
		<section id="content">
			<?php echo $this->getContent()?>
		</section>
		<footer>
			<?php echo $this->partial('footer')?>
		</footer>
		<div class="cookie_container"></div>
		<?php echo $this->cmsclient->scripts('footer')?>
		<script>
			window.cookieconsent_options = {
				message: 'Dette website bruger cookies for at forbedre din oplevelse.',
				dismiss: 'Ok',
				link: '/cookies',
				learnMore: '...mere information',
				theme: '/css/light-bottom.css',
				container: '.cookie_container'
			}
		</script>
		<script type="text/javascript" src="/js/cookieconsent.min.js"></script>
	</body>
</html>