@CHARSET "ISO-8859-1";

@import "default";
@import "fonts";

body{
	background-color:#FFF;
	font: paragraphFont;
}

p{
	padding: paddingSize;
}

h1{
	background-color:#CCC;
	font: header1Font;
}
h2{
	background-color:#DDD;
	font: header2Font;
	padding: paddingSize;
}
h3{
	background-color:#EEE;
	padding: paddingSize;
}
h4{
	background-color:#F0F0F0;
	font: header4Font;
	padding: paddingSize;
}

body{
	width: 100%;
}

body>header nav{
	overflow: auto;
	clear:both;
	padding: 5px;
	background-color:#D9621A;
}

body>header nav ul{
}
body>header nav ul>li{
	float:left;
	margin: 0 5px 0 0;
	background-color:#D9621A;
	display: inline;
	float:left;
	margin: 0px 5px 0px 0px;
	list-style-type: none;
}
header nav ul>li a{
	color:#000;
	font-weight: bold;
	text-decoration: none;
}
header nav ul>li ul>li a{
	color:#FFF;
}

section#content article{
	overflow: auto;
}

aside{
	float: left;
	margin: 20px;
	background-color: aliceblue;
	padding: paddingSize;
}
aside.right{
	float: right;
}